/**************************/
/*RECIPES */
/**************************/

.header-recipes {
  font-size: 2rem;
  padding: 3.2rem;
  background-color: #004c53;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: left;
}

.navigation-recipes {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  justify-self: center;

  gap: 4.8rem;
}

.navigation-recipes-details {
  grid-column: 3/-1;
}
.recipes-school-name {
  color: #99c5c9;
}

.recipes-menu-link:link,
.recipes-menu-link:visited {
  text-decoration: none;
  font-weight: 500;
  color: #99c5c9;
  transition: all 0.3s;
}

.recipes-search {
  font-family: inherit;
  font-weight: 600;
  font-size: 1.6rem;
  border: none;
  border-radius: 10rem;
  width: 100%;
  padding: 1.6rem;
  color: #004c53;
  background-color: #99c5c9;
}

.recipes-main,
.recipe-details {
  background-color: #faf2ec;
  padding: 9.6rem;
  min-height: 100vh;
}

.recipes-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 6.4rem;
}

.recipe-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: #f0d8c7;
  width: 100%;
  padding: 2.4rem;
  overflow: hidden;
  border-radius: 10%;
  box-shadow: 0px 2.4rem 4.8rem #0000001c;
}

.recipe-item-link {
  text-decoration: none;
}

.recipe-item-img {
  width: 100%;
}
.recipe-item-title {
  font-size: 2rem;
  color: #7b4b29;
}

/**************************/
/*RECIPE DETAILS */
/**************************/

.recipe-details-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;
}

.recipe-details-img {
  width: 40rem;
  justify-self: center;
  align-items: center;
  border-radius: 5rem;
}

.recipe-title-box {
  text-align: center;
}

.recipe-details-title {
  display: block;
  font-size: 3rem;
  font-weight: 700;
  color: #905830;
  margin-bottom: 6.4rem;
}

.recipe-details-ingredients,
.recipe-details-glassware,
.glassware-type,
.recipe-details-steps,
.recipe-procedure {
  color: #905830;
  font-size: 1.8rem;
}

.recipe-details-ingredients {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  list-style: none;
  margin-bottom: 4.8rem;
}
.glassware-box {
  margin-bottom: 4.8rem;
}

.recipe-details-steps {
  line-height: 1.7;
}

.recipe-details-button {
  font-size: 2rem;
  border: none;
  justify-self: center;
  background-color: #cd7d44;
  padding: 1.6rem 3.2rem;
  border-radius: 100px;
  color: #f0d8c7;
  cursor: pointer;
  transition: all 0.3s;
}

.recipe-details-button:hover {
  background-color: #b9713d;
  outline: 5px solid #dca47c;
  color: #fff;
}

.error-message {
  font-size: 2.4rem;
  font-weight: 700;
  color: #905830;
}

.heading {
  font-weight: 700;
}

@keyframes loading {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }

  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1rem solid #004c53;
  border-bottom-color: #99c5c9;
  transform: translate3d(-50%, -50%, 0);
  animation: 1.5s linear infinite loading;
}
